body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background: url('https://t3.ftcdn.net/jpg/07/18/32/00/360_F_718320006_xKSEIvV0VvGmzOzZBfoG7Giviqxf9jh1.jpg') no-repeat center center/cover;
    color: white;
    padding: 5rem 0;
    text-align: center;
}

.hero-content {
    max-width: 600px;
    margin: auto;
}

button {
    background-color: #f04;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-transform: uppercase;
}

#features, #pricing, #contact {
    padding: 2rem 0;
    text-align: center;
}

.features-container, .pricing-table {
    display: flex;
    justify-content: space-around;
}

.feature, .pricing-option {
    background-color: #805050;
    border: 1px solid #0d0d0d;
    padding: 1rem;
    width: 30%;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
